---
layout: default
---

<style>
  .medium-text {
    font-size: 24px; /* Adjust the font size as desired */
  }
  .large-text {
    font-size: 36px; /* Adjust the font size as desired */
  }
  .post-count {
    font-size: 20px; /* Set the font size for the post count */
  }
  .icon-img {
      vertical-align: middle;
    }
</style>

<span class="medium-text"> Heya, I'm Summer and I create guides and resources for BDO.</span>

<div class="icons-container">
  <h1 style="text-align: left;">Topics</h1>
  {% for section in site.data.sections_topic %}
    <div class="icon">
      <a href="{{ section.url }}">
        <img height="38" src="{{ section.icon }}" alt="{{ section.name }}">
        <span class="large-text">{{ section.name }}</span>
        {% assign section_posts = site.posts | where: "tags", section.tag %}
        {% if section_posts.size == 1 %}
          (<span class="post-count">1 post</span>)
        {% elsif section_posts.size > 1 %}
          (<span class="post-count">{{ section_posts.size }} posts</span>)
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

<div class="icons-container">
  <h1 style="text-align: left;">Post Types</h1>
  {% for section in site.data.sections_type %}
    <div class="icon">
      <a href="{{ section.url }}">
        <img height="38" src="{{ section.icon }}" alt="{{ section.name }}">
        <span class="large-text">{{ section.name }}</span>
        {% assign section_posts = site.posts | where: "type", section.type %}
        {% if section_posts.size == 1 %}
          (<span class="post-count">1 post</span>)
        {% elsif section_posts.size > 1 %}
          (<span class="post-count">{{ section_posts.size }} posts</span>)
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

