---
layout: default
---

<h1 style="text-align: left;">
{{ page.title }}
</h1>

<div class="posts-grid">
  {% assign sorted_posts = site.posts %}
  {% for post in sorted_posts %}
    {% if post.tags contains page.tag or post.type == page.type %}
      <article class="post-preview">
        <h2 style="text-align: left;">
          {% assign post_link = post.direct-link | default: post.url | prepend: site.baseurl %}
		  <a href="{{ post_link }}" target="_blank">
			  <!-- Logo based on post type -->
			  {% assign type_logo = post.type | downcase %}
			  <!-- Assign icon file path: Expects that for each post.type there is a [post.type].png in /files/icons/ -->
			  {% assign image_src = '/files/icons/' | append: type_logo | append: '.png' %}
			  <img class="logo-image" src="{{ site.baseurl }}{{ image_src }}" alt="{{ type_logo | capitalize }}">
			  <!-- Link to: a) post if it's a text-post b) the resource if it contains a direct link -->
		   {{ post.title }}
		   </a>
        </h2>
        <!-- Post thumbnail - sheets only have a logo so make it smaller -->
        {% if post.image %}
          <a href="{{ post_link }}" target="_blank">
		  {% if post.type != "spreadsheet" %}
			<img class="preview-image" src="{{ site.baseurl }}{{ post.image }}" alt="Preview Image">
          {% endif %}
		  </a>
        {% endif %}
        <div class="entry">
          {{ post.excerpt }}
        </div>
        <div class="entry">
          <!-- Format the date as 'DD Month.short YYYY' -->
          <p>{{ post.updated-date | date: "%d %b %Y" }}</p>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>


